/* https://superdevresources.com/html-resume-templates/ */


* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    height: auto;
    width: 100vw;
    margin: 0;
    padding: 0;
    justify-content: center;
    font-size: 100%;
}

a{
    color: black;
}

/*********************************************************************************************************************************/

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 0.3rem 1rem;
}

.navbar_links a{
    color: black;
    font-size: 16px;
}

    .navbar_links a:hover {
        font-weight:bolder;
    }

.navbar_links ul {
    display: flex;
    list-style-type: none;
}

.navbar_links ul li{
    padding: 20px;
}

.navbar_links a.active {
    color: lightslategray;
}

/*********************************************************************************************************************************/

.About {
    background: white;
    width: 100%;
    margin: 0 auto;
}

.ProfilePhoto {
    grid-area: a;
    display: flex;
    justify-content: center;
    padding: 20px;
}

    .ProfilePhoto img {
        border-radius: 50%;
        display: block;
        margin: auto;
        width: 60%;
        background: linear-gradient(15deg, yellow, orange, red); 
        padding: 5px;
    }

.MainTitle {
    grid-area: u;
    text-align: center;
    padding: 10px;
    font-size: 32px;
}

.About_text {
    margin: auto;
    grid-area: b;
    padding: 20px 40px 0px 40px;
    justify-content: center;
    align-items: center;
}

.CV {
    grid-area: t;
    margin: 20px 0 20px 0;
    text-align: center;
    font-size: 24px;
}

    .CV a {
        padding-bottom: 8px;
        border-bottom: 1px solid black;
    }

.CV:hover{
    font-size: 28px;
}


.fa-download{
    margin-left: 10px;
}

.Interests_list {
    grid-area: l;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

    .Interests_list ul {
        display: inline-block;
        text-align: left;
        list-style-type: circle;
    }

interests_list li {
    margin: 24px 0;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
}


/*********************************************************************************************************************************/
.basic-info {
    margin: 0 auto 20px auto;
    background: white;
    text-align: center;
}

    .basic-info .info-title {
        text-align: center;
        font-size: 28px;
        color: black;
        margin: 0px auto 20px auto;
    }

.info-list {
    background: white;
    margin: auto;
    display: grid;
    grid-gap: 0px;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 25px);
    grid-template-areas:
        "r1"
        "r2"
        "r3"
        "r4";
}

    .info-list .row1 {
        grid-area: r1;
    }

    .info-list .row2 {
        grid-area: r2;
    }

    .info-list .row3 {
        grid-area: r3;
    }

    .info-list .row4 {
        grid-area: r4;
    }

    .info-list .info-row {
        background: white;
        text-align: left;
        margin: 0 auto;
        width: 80%;
        display: grid;
        grid-gap: 0px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 25px);
        grid-template-areas:
            "c1 c2";
    }

        .info-list .info-row .col1 {
            text-align: center;
            grid-area: c1;
            border-bottom: 1px lightslategray solid;
        }

        .info-list .info-row .col2 {
            text-align: center;
            grid-area: c2;
            border-bottom: 1px lightslategray solid;
        }



/*********************************************************************************************************************************/
.Kvovt {
    background-color: white;
    color: #808080;
    font-size: large;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    position: absolute;
    bottom: 3%;
    width: 100%;
}

/*********************************************************************************************************************************/

.social-media {
    background: white;
    margin: 10px auto;
    width: 85%;
}

.social-media .second-title{
    text-align: center;
    font-size: 28px;
    color: black;
}

    .social-media ul {
        justify-content: center;
        column-count: 5;
        column-gap: 18px;
        list-style-type: none;
    }

    .social-media li {
        text-align: center;
    }

    .social-media .Logo {
        padding: 3px;
    }

    .social-media a {
        font-size: 32px;
        padding: 15px 15px 8px 15px;
        border-bottom: 1px black solid;
    }

        .social-media a:hover {
            font-size: 40px;
        }

/*********************************************************************************************************************************/

.send-mail .container {
    margin: 0 20px;
    padding: 20px 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-mail .mail-title {
    text-align: center;
    font-size: 28px;
    color: black;
    margin: 0 0 20px 0;
}

.send-mail .email-inputs {
    display: block;
    background: white;
    width: 110%;
    margin: 0 auto;
    display: grid;
    grid-gap: 0px;
    border-radius: 10px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 55px);
    grid-template-areas:
        ". . a a a a a . ."
        ". . s s s s s . ."
        "m m m m m m m m m"
        "m m m m m m m m m"
        "m m m m m m m m m"
        ". . b b b b b . .";
}

    .email-inputs .adress {
        grid-area: a;
    }

.email-inputs .subject {
    grid-area: s;
}

.email-inputs .message {
    grid-area: m;
}

.email-inputs .subject {
    grid-area: s;
}

.email-inputs .email-button {
    grid-area: b;
}

.send-mail .email-form {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid black;
    outline-style: none;
    font-size: 18px;
    font-weight:500;
}

    .send-mail .email-form:focus{
        background-color: white;
    }

    .send-mail .email-form:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        -webkit-text-fill-color: black !important;
    }

    .send-mail .email-form::placeholder {
        text-align: center;
        color: black;
        /*transform: translate3d(0,24px,0)*/
    }

.send-mail .email-button {
    width: 50%;
    padding: 5px;
    margin: 5px auto;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    font-size: 18px;
    font-weight:bold;
}
    .send-mail .email-button:hover {
        border: 2px solid black;
    }

/*********************************************************************************************************************************/

.skills {
    margin: 0 auto 20px auto;
    background: white;
    text-align: center;
}

.skills-title {
    text-align: center;
    font-size: 28px;
    color: black;
    margin-bottom: 20px;
}

.skills .progress-bar {
    background: white;
    margin: 0 auto;
    display: grid;
    grid-gap: 0px;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 45px);
    grid-template-areas:
        "s1"
        "s2"
        "s3"
        "s4"
        "s5";
}

.skills .progress-bar .one-skill-title{
    margin-bottom: 10px;
}

        .skills .progress-bar .bar {
            margin: 0 auto;
            background-color: white;
            width: 85%;
            height: 6px;
            border: 1px solid black;
            border-radius: 1.5rem;
            /*box-shadow: 0 0 10px black;*/
        }

            .skills .progress-bar .bar span {
                /*box-shadow: 0 0 10px black;*/
                height: 100%;
                float: left;
                background-color: black;
            }

.skills .progress-bar .bar .statistics {
    width: 90%;
    grid-area: s1;
    animation: statistics 2s;
}

        @keyframes statistics {
            0% {
                width: 0%
            }

            100% {
                width: 90%
            }
        }

.skills .progress-bar .bar .shiny {
    width: 95%;
    grid-area: s2;
    animation: shiny 2s;
}

        @keyframes shiny {
            0% {
                width: 0%
            }

            100% {
                width: 95%
            }
        }

.skills .progress-bar .bar .html {
    width: 20%;
    grid-area: s3;
    animation: html 2s;
}

@keyframes html {
    0% {
        width: 0%
    }

    100% {
        width: 20%
    }
}

.skills .progress-bar .bar .python {
    width: 5%;
    grid-area: s4;
    animation: python 2s;
}

    @keyframes python {
        0% {
            width: 0%
        }

        100% {
            width: 5%
        }
    }


.skills .progress-bar .bar .sql {
    width: 15%;
    grid-area: s5;
    animation: sql 2s;
}

@keyframes sql {
    0% {
        width: 0%
    }

    100% {
        width: 15%
    }
}

.skills .progress-bar .bar .html {
    width: 20%;
    grid-area: s3;
    animation: html 2s;
}

.skills-icons-icons {
    text-align: center;
    font-size: 32px;
    color: black;
}

    .skills-icons-icons .fab {
        margin: 0 15px 20px 15px;
    }

.Education {
    margin: 20px auto 20px auto;
    background: white;
    text-align: center;
    width: 80%;
}

.education-title {
    text-align: center;
    font-size: 28px;
    color: black;
    margin-bottom: 20px;
}

.Edc-list {
    text-align: left;
    margin: 15px auto;
    grid-gap: 0px;
    display: grid;
    grid-gap: 14px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas:
        "d e e";
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}

    .Edc-list .ed-date {
        grid-area: d;
        padding-right: 0;
    }

    .Edc-list .ed-about {
        grid-area: e;
    }


/*********************************************************************************************************************************/
.projects-title {
    text-align: center;
    font-size: 28px;
    color: black;
    margin-bottom: 20px;
}

.project-grid {
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-gap: 2px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
        "ab"
        "prew";
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.project-about {
    position: relative;
    grid-area: ab;
    margin: 0 auto;
}

.project-about-title {
    text-align: center;
    font-size: 32px;
    color: black;
    margin: 15px auto;
}

.project-about-category {
    text-align: center;
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}

.project-about-summary {
    margin: auto 10px;
}

.project-about-date {
    margin: 10px;
}

.project-preview {
    grid-area: prew;
    text-align: center;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 10px auto;
}

    .project-preview:hover {
        font-size: 32px;
    }

    .project-photo{
        padding-bottom: 8px;
        border-bottom: 1px solid black;
    }

    .language {
    margin-left: 10px;
    color: lightslategray;
}

/*********************************************************************************************************************************/
@media (min-width: 58em) {
    .About {
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-gap: 0px;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "a a a u u u u"
            "a a a b b b b"
            "a a a b b b b"
            "l l l t t t t";
    }

    .ProfilePhoto {
        grid-area: a;
        padding-top: 60px;
    }

        .ProfilePhoto img {
            width: 50%;
        }

    .MainTitle {
        grid-area: u;
        margin-top: 20px;
    }

        .About_text {
            margin-top: 30px;
            grid-area: b;
            padding: 5px 30px;
        }

        .social-media {
            width: 20%;
        }

    .CV {
        margin-top: 50px;
    }

        .CV:after {
            width: 27%; /* Change this to whatever width you want. */
        }

    .Interests_list {
        grid-area: l;
        margin: auto;
        text-align: center;
    }

    .basic-info {
        width: 100%;
        margin: 30px auto 30px auto;
    }

    .info-list .info-row {
        width: 20%;
    }

    .progress-bar{
        width: 50%;
    }

    .skill-container {
        display: flex;
    }

        .skill-container .one-skill-title {
            margin: auto;
            font-size: large;
        }

        .skill-container .bar {
            justify-content: center;
            margin: auto !important;
            height: 15% !important;
        }


    .project-grid {
        width: 70%;
        display: grid;
        grid-gap: 0px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 250px);
        grid-template-areas:
            "ab ab ab prew prew"
    }

    .project-about-date {
        margin: 0;
        position: absolute;
        bottom: 2%;
        left: 2%;
    }

    .project-about-summary {
        margin: 20px 10px;
    }

    .project-preview {
        font-size: 36px;
    }

        .project-preview:hover {
            font-size: 40px;
        }
        .education-title {
        margin-bottom: 24px;
    }

    .Edc-list {
        width: 60%;
        padding-bottom: 12px;
    }